<form action ="/submit_login" method="POST">
    <input type = "text" name= "login" placeholder="username"/> <br>
    <input type = "text" name= "password" placeholder="password"/> <br>
    <button type = "submit">Submit</button>
</form>
